<div class='card' style='width: 18rem;'>
  <img src='{{img}}' class='card-img-top' alt='...' />
  <div class='card-body'>
    {{! works both ways destuctured or no :) JS is great!!! }}
    <h5 class='card-title'>{{this.title}}</h5>
    <p class='card-text'>{{this.description}}</p>
    <a href='/{{baseUrl}}/{{id}}' class='btn btn-primary'>Details</a>
  </div>
</div>